<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mossy.littlebits">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:configChanges="orientation"
            android:label="@string/title_activity_register"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mossy.littlebits.Home" />
        </activity>
        <activity
            android:name=".Login"
            android:configChanges="orientation"
            android:label="@string/title_activity_login"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mossy.littlebits.Home" />
        </activity>
        <activity
            android:name=".GameMenu"
            android:configChanges="orientation"
            android:label="@string/title_activity_game_menu"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mossy.littlebits.Home" />
        </activity>
        <activity
            android:name=".Tutorial"
            android:configChanges="orientation"
            android:label="@string/title_activity_tutorial"
            android:parentActivityName=".GameMenu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mossy.littlebits.GameMenu" />
        </activity>
        <activity
            android:name=".IfAndElseTutorial"
            android:configChanges="orientation"
            android:label="@string/title_activity_if_and_else_tutorial"
            android:parentActivityName=".Tutorial"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mossy.littlebits.Tutorial" />
        </activity>
        <activity
            android:name=".ForLoopTutorial"
            android:label="@string/title_activity_for_loop_tutorial"
            android:parentActivityName=".Tutorial"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mossy.littlebits.Tutorial" />
        </activity>
        <activity
            android:name=".WhileLoopTutorial"
            android:label="@string/title_activity_while_loop_tutorial"
            android:parentActivityName=".Tutorial"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mossy.littlebits.Tutorial" />
        </activity>
        <activity
            android:name=".Beginner"
            android:label="@string/title_activity_beginner"
            android:parentActivityName=".GameMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mossy.littlebits.GameMenu" />
        </activity>
        <activity
            android:name=".Advanced"
            android:label="@string/title_activity_advanced"
            android:parentActivityName=".GameMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mossy.littlebits.GameMenu" />
        </activity>
        <activity
            android:name=".Expert"
            android:label="@string/title_activity_expert"
            android:parentActivityName=".GameMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mossy.littlebits.GameMenu" />
        </activity>
        <activity
            android:name=".BeginnerIfAndElse"
            android:label="@string/title_activity_beginner_if_and_else_menu"
            android:parentActivityName=".Beginner"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mossy.littlebits.Beginner" />
        </activity>
        <activity
            android:name=".BeginnerForLoops"
            android:label="@string/title_activity_beginner_for_loops"
            android:parentActivityName=".Beginner"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mossy.littlebits.Beginner" />
        </activity>
        <activity
            android:name=".AdvancedIfAndElse"
            android:label="@string/title_activity_advanced_if_and_else_menu"
            android:parentActivityName=".Advanced"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mossy.littlebits.Advanced" />
        </activity>
        <activity
            android:name=".AdvancedForLoops"
            android:label="@string/title_activity_advanced_for_loops"
            android:parentActivityName=".Advanced"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mossy.littlebits.Advanced" />
        </activity>
        <activity
            android:name=".AdvancedWhileLoops"
            android:label="@string/title_activity_advanced_while_loops"
            android:parentActivityName=".Advanced"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mossy.littlebits.Advanced" />
        </activity>
        <activity
            android:name=".ExpertIfAndElse"
            android:label="@string/title_activity_expert_if_and_else"
            android:parentActivityName=".Expert"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mossy.littlebits.Expert" />
        </activity>
        <activity
            android:name=".ExpertForLoops"
            android:label="@string/title_activity_expert_for_loops"
            android:parentActivityName=".Expert"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExpertWhileLoops"
            android:label="@string/title_activity_expert_while_loops"
            android:parentActivityName=".Expert"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mossy.littlebits.Expert" />
        </activity>
    </application>

</manifest>